/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

.content-wrapper {
  max-width: 760px;
  margin: 0 auto;
}

.relaxr {
  float: left;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25px;
  letter-spacing: 1px;

}

.nav a {
  float: right;
  padding-top: 20px;
  font-size: 15px;
  color: #f7f114ed;
  padding-right: 12px;
}

.row:after {
  content: "";
  display: block;
  clear: both;
}

.col {
  width: 100%;
  display: inline-block;
  float: left;
  padding: 5px;
}

.col-75 {
  width: 75%;
}

.col-25 {
  width: 25%;
}

.button {
  color: black; 
  text-align: right;
  font-size: 15px;
}

.woot {
  max-width: 100%;
}

.yup {
  background-color: #f7f114ed;
  height: 70px;
}

.yikes {
    background-color: #253a50; 
    border: none;
    color: white;
    text-align: center;
    padding: 10px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.okay {
  background-color: #2f2e2e;
  text-align: center;
  height: 200px;
}

.oi {
  color: #f7f114ed;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1px;
  padding-top: 25px;
  padding-bottom: 20px;
}

.h1 {
  font-size: 25px;
  color: #253a50;
  padding-top: 20px;
}

.sides {
  color: #2f2e2e;
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
}

.img {
    padding-left: 5px;
    padding-right: 20px;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     background-color: #ecebeb;
}

header {
  background-color: #253a50;
}

a {
  text-decoration: none;
  color: #253a50;
}

p {
  font-size: 15px;
  color: #2f2e2e;
  font-weight: lighter;
}

p::first-letter {
  font-size: 40px;
}

li {
  font-size: 15px;
  color: #2f2e2e;
  font-weight: lighter;
}
/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  margin: auto;
}

#copyright {
  color: white;
  text-align: center;
  font-size: 12px;
  padding-top: 30px;
  display: block;
}

header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




